################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/banking-app/CopilotIndices/17.12.68.61481
/.vs/banking-app/v17/TestStore/0
/.vs/banking-app/v17
/.vs/BankingApp/config/applicationhost.config
/.vs/BankingApp/CopilotIndices/17.12.68.61481
/.vs/BankingApp/copilot-chat/8a571303/sessions
/.vs/BankingApp/DesignTimeBuild
/.vs/BankingApp/FileContentIndex
/.vs/BankingApp/v17
/BankingApp.Application/bin/Debug/net5.0
/.vs/ProjectEvaluation
/BankingApp.Core/bin/Debug/net5.0
/BankingApp.Core/obj
/BankingApp.DataBase/bin/Debug/net5.0
/BankingApp.DataBase/obj
/BankingApp.Infrastructure/bin/Debug/net5.0
/BankingApp.Infrastructure/obj
/BankingApp.Tests/bin/Debug/net5.0
/BankingApp.Tests/obj
/BankingApp.WebApi/bin/Debug/net5.0
/BankingApp.WebApi/obj
/BankingApp.Application/obj
/.vs/VSWorkspaceState.json
/CoverageReport/BankingApp.Application_BankAccountReponse.html
/CoverageReport/BankingApp.Application_BankAccountService.html
/CoverageReport/BankingApp.Application_BankAccountValidator.html
/CoverageReport/BankingApp.Application_CreateBankAccountRequest.html
/CoverageReport/BankingApp.Application_Result.html
/CoverageReport/BankingApp.Application_Result_1.html
/CoverageReport/BankingApp.Core_BankAccount.html
/CoverageReport/BankingApp.Infrastructure_BankAccountRepository.html
/CoverageReport/BankingApp.Infrastructure_ConnectionFactory.html
/CoverageReport/BankingApp.WebApi_AutoMapperProfile.html
/CoverageReport/BankingApp.WebApi_BankAccountsController.html
/CoverageReport/BankingApp.WebApi_ExceptionMiddleware.html
/CoverageReport/BankingApp.WebApi_Program.html
/CoverageReport/BankingApp.WebApi_Startup.html
/CoverageReport/BankingApp.WebApi_SwaggerConfig.html
/CoverageReport/class.js
/CoverageReport/icon_cog.svg
/CoverageReport/icon_cog_dark.svg
/CoverageReport/icon_cube.svg
/CoverageReport/icon_cube_dark.svg
/CoverageReport/icon_fork.svg
/CoverageReport/icon_fork_dark.svg
/CoverageReport/icon_info-circled.svg
/CoverageReport/icon_info-circled_dark.svg
/CoverageReport/icon_minus.svg
/CoverageReport/icon_minus_dark.svg
/CoverageReport/icon_plus.svg
/CoverageReport/icon_plus_dark.svg
/CoverageReport/icon_search-minus.svg
/CoverageReport/icon_search-minus_dark.svg
/CoverageReport/icon_search-plus.svg
/CoverageReport/icon_search-plus_dark.svg
/CoverageReport/icon_sponsor.svg
/CoverageReport/icon_star.svg
/CoverageReport/icon_star_dark.svg
/CoverageReport/icon_up-dir.svg
/CoverageReport/icon_up-dir_active.svg
/CoverageReport/icon_up-down-dir.svg
/CoverageReport/icon_up-down-dir_dark.svg
/CoverageReport/icon_wrench.svg
/CoverageReport/icon_wrench_dark.svg
/CoverageReport/index.htm
/CoverageReport/index.html
/CoverageReport/main.js
/CoverageReport/report.css
/.vs/slnx.sqlite
/ExcelUpload/BankingExcelUpload.POC/bin/Debug/net5.0
/ExcelUpload/BankingExcelUpload.POC/obj
